apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
  - ingress.yaml
  - cluster-issuer.yaml

secretGenerator:
  - name: btc-secrets
    envs:
      - secrets.env

generatorOptions:
  disableNameSuffixHash: true
