apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base

secretGenerator:
  - name: btc-secrets
    envs:
      - secrets.env

generatorOptions:
  disableNameSuffixHash: true
